html {
  scroll-behavior: smooth
}

.app.theme-dark {
  --dark-text: white;
  --light-text: black;
  --dark-background: white;
  --light-background: black;
  --accent: #b8dbd9;
  --button-border: white;
  --img-invert: invert(1);
}

.app.theme-light {
  --dark-text: black;
  --light-text: white;
  --dark-background: black;
  --light-background: white;
  --accent: #dbe7e4;
  --button-border: black;
  --img-invert: invert(0);
}

* {
  color: var(--dark-text);
}

.app {
  display: flex;
  flex-direction: column;
  background-color: var(--light-background);
}

.resumeBasic {
  display: grid;
  grid-template-rows: repeat(1, minmax(0, 1fr));
  align-items: center;
  padding-left: 2rem; /* 32px */
  padding-right: 2rem; /* 32px */
}

.resumeBasic-header {
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
  text-align: center;
  font-weight: 700;
}

.resumeBasic-text {
  font-weight: 300;
  font-size: 1.125rem; /* 18px */
  padding-left: 2rem; /* 32px */
  padding-right: 2rem; /* 32px */
}

.resumeBasic-para {
  padding-bottom: 1.5rem;
}

.contact-header {
  padding-left: 0.5rem; /* 8px */
  padding-right: 0.5rem; /* 8px */
  padding-bottom: 0.5rem; /* 8px */
  text-align: center;
  font-weight: 700;
}

@media (min-width: 481px) {
  .resumeBasic {
    grid-template-columns: auto minmax(0, 1fr);
  }

  .resumeBasic-text {
    padding-top: 3rem; /* 48px */
    padding-bottom: 3rem; /* 48px */
  }

  .header-background {
    padding-left: 0.5rem; /* 8px */
    padding-right: 0.5rem; /* 8px */
    padding-bottom: 0.5rem; /* 8px */
  }

  .contact {
    display: grid;
    grid-template-columns: 10fr 10fr;
    align-items: center;
    padding-left: 2rem; /* 32px */
    padding-right: 2rem; /* 32px */
  }

  .contact-header {
    font-size: 5em;;
    line-height: 1em; /* 36px */
  }
}

@media (max-width: 480px) {
  .resumeBasic {
    grid-template-rows: auto minmax(0, 1fr);
  }

  .resumeBasic-header {
    padding-top: 1rem;
  }

  .resumeBasic-text {
    padding-top: 1rem; /* 48px */
    padding-bottom: 1rem; /* 48px */
  }

  .header-background {
    padding-left: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
  }

  .contact {
    grid-template-rows: auto minmax(0, 1fr);
  }

  .contact-header {
    font-size: 2em;;
    line-height: 0.5em; /* 36px */
  }
}
