html:has(.app.theme-light) {
  --dark-text: #121212;
  --light-text: #faf9f6;
  --dark-background: #121212;
  --light-background: #faf9f6;
  --accent: #dbe7e4;
  --button-border: #121212;
  --img-invert: invert(0);
}

html:has(.app.theme-dark) {
  --dark-text: #faf9f6;
  --light-text: #121212;
  --dark-background: #faf9f6;
  --light-background: #121212;
  --accent: #b8dbd9;
  --button-border: #faf9f6;
  --img-invert: invert(1);
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  max-width: 100%;
  background-color: var(--light-background);
}

* {
  color: var(--dark-text);
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--light-background);
  font-family: 'Montserrat';
}

.sec {
  display: grid;
  grid-template-rows: repeat(1, minmax(0, 1fr));
  align-items: center;
  padding-left: 2rem; /* 32px */
  padding-right: 2rem; /* 32px */
  max-width: 1200px;
  margin-inline: auto;
}

.sec-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sec-header {
  font-size: 3em;
  line-height: 2.75rem;
  text-align: center;
  font-weight: 700;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.sec-text {
  font-weight: 300;
  font-size: 1.125rem; /* 18px */
  padding-left: 2rem; /* 32px */
  padding-right: 2rem; /* 32px */
  max-width: 800px;
}

.sec-para {
  padding-bottom: 1.5rem;
}

/* Header */
.landing {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  justify-content: center;
  overflow: hidden;
}

.landing-header {
  display: flex;
  flex-direction: column;
  font-size: 14.5rem;
  line-height: 1;
  padding: 0rem;
  padding-bottom: 6rem;
  padding-left: 2rem;
  font-weight: 700;
  text-align: left;
  background: -webkit-linear-gradient(#207bdf, #20dadf);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.landing-text {
  font-size: 1.5rem;
  line-height: 2rem;
  width: 75%;
  padding: 1rem;
  padding-bottom: 6rem;
  text-align: center;
  font-weight: 600;
  background: -webkit-linear-gradient(#ff69b4, #ff369b);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.landing-buttons {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.landing-button {
  padding: 1rem;
}

.about-header {
  color: #207bdf;
}

.experience-header {
  color: #ff369b;
}

.contact-header {
  color: #30cf34;
}

/* Animations */
.background-lines {
  position: absolute;
  left: 0;
  height: 4px;
  width: 200px;
  background: linear-gradient(to right, #207bdf, #ff69b4);
  animation: animate-lines 6s linear infinite;
}

@keyframes animate-lines {
  0% {
    left: 0%;
    transform: translate(-100%);
  }
  100% {
    left: 100%;
    transform: translate(0);
  }
}

/* Media queries */

@media (min-width: 821px) {
  .sec {
    grid-template-columns: auto minmax(0, 1fr);
  }

  .sec-header {
    font-size: 3em;
    width: 300px;
  }

  .sec-text {
    padding-top: 3rem; /* 48px */
    padding-bottom: 3rem; /* 48px */
  }

  .header-background {
    padding-left: 0.5rem; /* 8px */
    padding-right: 0.5rem; /* 8px */
    padding-bottom: 0.5rem; /* 8px */
  }

  .sec-reverse {
    grid-template-columns: 1fr 300px;
  }

  .sec-header-right {
    order: 2;
  }

  .sec-text-left {
    order: 1;
  }

  .contact {
    display: grid;
    grid-template-columns: 10fr 10fr;
    align-items: center;
    padding-left: 2rem; /* 32px */
    padding-right: 2rem; /* 32px */
  }

  .background-lines {
    bottom: 57%;
  }
}

@media (max-width: 820px) {

  .landing-header {
    font-size: 5.5rem;
    text-align: center;
    padding-left: 0rem;
  }
  .sec {
    grid-template-rows: auto minmax(0, 1fr);
  }

  .sec-header {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .sec-text {
    padding-top: 1rem; /* 48px */
    padding-bottom: 1rem; /* 48px */
  }

  .header-background {
    padding-left: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
  }

  .contact {
    grid-template-rows: auto minmax(0, 1fr);
  }

  .background-lines {
    bottom: 50%;
  }
}
