.navbar {
  background-color: var(--light-background);
}

.navbar.theme-desktop {
  display: grid;
  grid-template-columns: 3fr 14fr 3fr;
  position: fixed;
  width: 100%;
  text-align: center;
  padding: 1em; /* 16px */
  border-bottom-width: 2px;
  border-color: var(--dark-background);
}

.navmenu.theme-desktop {
  display: none;
}

/* https://www.w3schools.com/howto/howto_js_sidenav.asp */
.navbar.theme-mobile {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: var(--light-background);
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.navmenu.theme-mobile {
  padding-top: 1em;
  padding-right: 1em;
  float: right;
}

.nav-item-container {
  padding-top: 1em;
}

.nav-item {
  display: inline-block;
  padding: 0.25em;
  min-width: 6rem; /* 96px */
  border-color: transparent;
  border-bottom-width: 2px;
  transition: all 0.25s ease;
}

.nav-item:hover {
  border-color: var(--dark-background);
  border-bottom-width: 1px;
}

@media (min-width: 481px) {

  .nav-item-container {
    display: inline;
  }

  .navmenu-close-btn {
    display: none;
  }
}

@media (max-width: 480px) {

  .nav-item {
    font-size: 4em;
  }

  .nav-btn {
    text-align: right;
    padding-right: 1.5em;
    padding-top: 1.5em;
  }

  .theme-toggle {
    padding-left: 1.25em;
    padding-right: 1.5em;
    padding-top: 2.5em;
  }
}